/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/clients/authorization/permissions.css" --revert
 */

.pf-v5-c-button.keycloak__permissions__empty_state {
    color: var(--pf-v5-c-button--disabled--Color);
    background-color: var(--pf-v5-c-button--disabled--BackgroundColor);
    --pf-v5-c-button--after--BorderWidth: 0;
}
