/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/clients/scopes/evaluate.css" --revert
 */

.keycloak__scopes_evaluate__clipboard-copy input {
    display: none;
}

.keycloak__scopes_evaluate__tabs {
    padding-top: var(--pf-v5-global--spacer--2xl);
}

#tabs .pf-v5-c-tabs__list {
    max-width: 300px;
}
