/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/groups/GroupsSection.css" --revert
 */

.keycloak-admin--groups__member-count {
    display: flex;
    align-items: center;
}

.keycloak-admin--groups__member-count svg {
    color: var(--pf-v5-global--Color--200);
    font-size: var(--pf-v5-global--FontSize--md);
    margin-right: var(--pf-v5-global--spacer--sm);
}
