/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/page-nav.css" --revert
 */

.keycloak__page_nav__nav {
    --pf-v5-c-page__sidebar--Transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    overflow: inherit;
    overflow-y: auto;
}
