/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/components/permission-tab/permissions-tab.css" --revert
 */

.permission-label > .pf-v5-c-form__group-label {
    width: 120%;
}

.keycloak__permission__permission-table.pf-v5-c-card {
    border-top: 0;
    border-bottom: 0;
}
